* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, #df5454, #792d2d);
  font-family: "Nunito", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.logo-img {
  width: 80px;
  height: auto;
  display: block;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-new-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

main {
  position: relative;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  justify-content: space-around;
}

section {
  padding: 1rem 0;
  width: 30rem;
  height: auto;
  background-color: #ffcece;
  border-radius: 1rem;
}

.player,
.total-score-div,
.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  padding-top: 1rem;
}

.name {
  font-size: 3rem;
  font-weight: 400;
}

.total-score-div {
  background-color: #be4747;
  width: 100%;
  color: white;
}

.total-score-label {
  font-size: 3.8rem;
}

.current-score,
.score {
  font-weight: 700;
}

.score {
  font-size: 8rem;
}

.current {
  width: 60%;
  background-color: #be4747;
  border-radius: 1rem;
  color: white;
}

.current-label {
  font-size: 2.5rem;
  font-weight: 300;
}

.current-score {
  font-size: 5.5rem;
}
